.ion-slides {
    height : 500px;
    width: 100%;
}

.ion-img {
    margin-bottom: 30px;
}

.icon-image {
    height: 64px;
    width: 64px;
}

.menu-row {
    padding: 2px;
}

.menu-column {
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-width: 2px;
    border-radius: 5px;
    background-color: whitesmoke;
    font-size: medium;
    justify-content: center;
}