<ion-app>
  <ion-menu side="start" menuId="first">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="openShopping()">
          <ion-icon slot="start" name="cart"></ion-icon>
          Shopping
        </ion-item>
        <ion-item (click)="openHome()">
          <ion-icon slot="start" name="home"></ion-icon>
          Home
        </ion-item>
        <ion-item (click)="openNotification()">
          <ion-icon slot="start" name="notifications"></ion-icon>
          Notification
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="more"></ion-icon>
          About us
        </ion-item>
        <ion-item (click)="logout()">
          <ion-icon slot="start" name="log-out"></ion-icon>
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="first" main></ion-router-outlet>
</ion-app>
