<ion-header>

  <ion-toolbar color="primary">
    <ion-back-button defaultHelf="/" slot="start" color="dark"></ion-back-button>
    <ion-title>My Bill</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list>

    <ion-item-sliding *ngFor="let cart of cartList" lines="insert">
      <div *ngIf="cart.cartCount > 0">
        <ion-item-options side="start" (ionSwipe)="delFromCart(cart)">
          <ion-item-option color="danger" expandable (click)="delFromCart(cart)" >Delete</ion-item-option>
        </ion-item-options>
        <ion-item>
          {{ cart.cartCount }}x {{ cart.cartTitle }}
          <ion-label slot="end" class="ion-text-right">{{ (cart.cartPrice * cart.cartCount) | currency:'':'symbol'}}</ion-label>
        </ion-item>
      </div>
    </ion-item-sliding>  

    <ion-item>
      Total: <span slot="end">{{ total | currency:'':'symbol'}}</span>
    </ion-item>
  </ion-list>
  
</ion-content>

<ion-footer >
  <ion-button class="product-create-button" (click)="onConfirmBill()">SAVE</ion-button>
</ion-footer>