<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Notification
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- List of Text Items -->
  <ion-list>
  
    <!-- Sliding item with expandable options on both sides -->
    <!-- <ion-item-sliding *ngFor="let item of selectedItems" lines="insert"> -->
    <ion-item-sliding>
      <ion-item-options side="start">
        <ion-item-option color="danger" expandable>
          Delete
        </ion-item-option>
      </ion-item-options>
  
      <ion-item>
        <ion-label>
          <h2>HubStruck Notifications</h2>
          <p>A new message in your network</p>
          <p>Oceanic Next has joined your network</p>
        </ion-label>
        <ion-note slot="end">
          10:45 AM
        </ion-note>
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option color="tertiary" expandable>
          Archive
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  
  </ion-list>
</ion-content>