ion-badge {
    position: absolute;
    background-color: rgb(250, 98, 43);
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: solid;
    border-width: 1px;
    border-radius: 80%;
    color: white;
}

.cart-icon {
    position: absolute;
    margin-right: 15px;
}

.category-block{
    color: grey;
    margin-bottom: 10px;
}

.category-banner{
    border-bottom: solid;
    border-color: gray;
    margin: 5px;
    border-width: 1px;
    font-weight: 600;
    font-size: 20px;
}

.category-card{
    padding: 10px;
    font-weight: 400;
    font-size: 18px;
    border-radius: 15px;
}

.card-title{
    font-weight: 600;
    font-size: 20px;
}

.card-content{
    font-weight: 400;
    font-size: 18px;
}
