
<ion-header >
  <ion-toolbar color="primary">
    <ion-back-button defaultHelf="/" slot="start" color="dark"></ion-back-button>
    
    <ion-buttons slot="end">
      <ion-icon name="trash-bin" slot="con-only"></ion-icon>
    </ion-buttons>
    
    <ion-title>
      Notification
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content color="light">
<!-- <ion-content color="light" *ngIf="noti != null"> -->
  
</ion-content>

<ion-footer  >
  <ion-button class="noti-save-button" >SAVE</ion-button>
</ion-footer>